In [ ]:
# declare a list tasks whose products you want to use as inputs
upstream = None

<a href="https://colab.research.google.com/github/monimiller/womens_wc_23/blob/main/Monica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [162]:
# Basics
import pandas as pd
import numpy as np
# Viz
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
#Catboost
from catboost import CatBoostClassifier, CatBoostRegressor
#sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import confusion_matrix, f1_score, mean_squared_error
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [ ]:
upstream = None
product = None

Load data

In [163]:
df = pd.read_csv('data/match_history.csv')

# New Section

In [164]:
df

            date    home_team     away_team  home_score  away_score
0     2003-09-24       Norway        Brazil           1           4
1     2003-09-25     China PR     Australia           1           1
2     2003-09-27  Switzerland         Italy           0           1
3     2003-09-27       Canada         Japan           3           1
4     2003-09-27    Argentina       Germany           1           6
...          ...          ...           ...         ...         ...
1145  2023-07-07      Germany        Zambia           2           3
1146  2023-07-13      Vietnam         Spain           0           9
1147  2023-07-14    Australia        France           1           0
1148  2023-07-14   Costa Rica  South Africa           0           2
1149  2023-07-14  New Zealand         Italy           0           1

[1150 rows x 5 columns]

In [165]:
from datetime import datetime
# Correcting data types
col_types = {
    'home_score' : 'int',
    'away_score' : 'int'
}

# Change col types
df = df.astype(col_types)

# Change Date to Datetime
df['date'] = pd.to_datetime(df['date'])

# Check
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1150 entries, 0 to 1149
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1150 non-null   datetime64[ns]
 1   home_team   1150 non-null   object
 2   away_team   1150 non-null   object
 3   home_score  1150 non-null   int64
 4   away_score  1150 non-null   int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 45.0+ KB

In [166]:
# Creating the result column with -1 (home team lost), 0 (draw), 1 (home team won)
conditions = [ df.home_score > df.away_score,
               df.home_score == df.away_score,
              df.home_score < df.away_score ]
vals = [1,0,-1]

df['result'] = np.select(conditions, vals)

In [167]:
df

           date    home_team     away_team  home_score  away_score  result
0    2003-09-24       Norway        Brazil           1           4      -1
1    2003-09-25     China PR     Australia           1           1       0
2    2003-09-27  Switzerland         Italy           0           1      -1
3    2003-09-27       Canada         Japan           3           1       1
4    2003-09-27    Argentina       Germany           1           6      -1
...         ...          ...           ...         ...         ...     ...
1145 2023-07-07      Germany        Zambia           2           3      -1
1146 2023-07-13      Vietnam         Spain           0           9      -1
1147 2023-07-14    Australia        France           1           0       1
1148 2023-07-14   Costa Rica  South Africa           0           2      -1
1149 2023-07-14  New Zealand         Italy           0           1      -1

[1150 rows x 6 columns]

In [168]:
# Creating datasets for performance of the teams at home games
home_victories = df.query('result==1').groupby('home_team')['result'].count().sort_values(ascending=False).reset_index()
home_losses = df.query('result==-1').groupby('home_team')['result'].count().sort_values(ascending=False).reset_index()
home_gf = df.groupby('home_team').home_score.sum().sort_values(ascending=False).reset_index()
home_ga = df.groupby('home_team').away_score.sum().sort_values(ascending=False).reset_index()
home_avg_goals = df.groupby('home_team').home_score.mean()

# Creating datasets for performance of the teams at aways games
away_victories = df.query('result==-1').groupby('away_team')['result'].count().sort_values(ascending=False).reset_index()
away_losses = df.query('result==1').groupby('away_team')['result'].count().sort_values(ascending=False).reset_index()
away_gf = df.groupby('away_team').away_score.sum().sort_values(ascending=False).reset_index()
away_ga = df.groupby('away_team').home_score.sum().sort_values(ascending=False).reset_index()
away_avg_goals = df.groupby('away_team').away_score.mean()

# Qty games played
games = {team:df.query('away_team == @team | home_team == @team')['result'].count() for team in df.home_team.unique()}
games = pd.DataFrame.from_dict(games, orient='index').reset_index().rename(columns={'index': 'team', 0:'games'})

In [169]:
games

                   team  games
0                Norway    111
1              China PR    143
2           Switzerland     55
3                Canada    126
4             Argentina     38
5                Brazil    108
6         United States    254
7                Sweden    132
8               Germany    133
9               Denmark    105
10                Spain     52
11                Italy     82
12             Portugal     59
13               France    102
14                Japan    108
15              England     93
16              Vietnam     23
17            Australia     83
18              Nigeria     37
19          New Zealand     74
20          Netherlands     89
21          South Korea     79
22  Republic of Ireland     41
23                Haiti     14
24           Costa Rica     32
25             Colombia     29
26               Zambia     12
27         South Africa     37
28          Philippines      7
29               Panama     15
30              Jamaica     18
31              Morocco      4
32            Venezuela      1

In [170]:
# Creating performance measurements wins and losses
teams_performance = pd.DataFrame({'team': df.home_team.unique()})

# Games Played
teams_performance = (
    teams_performance
    .merge(games, on='team',how='left')
    .fillna(0))

# Add home wins
teams_performance = (
    teams_performance
    .merge(home_victories, left_on='team', right_on='home_team', how='left')
    .fillna(0)
    .drop('home_team', axis=1)
    .rename(columns={'result':'home_wins'}) )

# Add away wins
teams_performance = (
    teams_performance
    .merge(away_victories, left_on='team', right_on='away_team', how='left')
    .fillna(0)
    .drop('away_team', axis=1)
    .rename(columns={'result':'away_wins'}) )

# Add home losses
teams_performance = (
    teams_performance
    .merge(home_losses, left_on='team', right_on='home_team', how='left')
    .fillna(0)
    .drop('home_team', axis=1)
    .rename(columns={'result':'home_losses'}) )

# Add away losses
teams_performance = (
    teams_performance
    .merge(away_losses, left_on='team', right_on='away_team', how='left')
    .fillna(0)
    .drop('away_team', axis=1)
    .rename(columns={'result':'away_losses'}) )

# Add home GF
teams_performance = (
    teams_performance
    .merge(home_gf, left_on='team', right_on='home_team', how='left')
    .fillna(0)
    .drop('home_team', axis=1)
    .rename(columns= {'home_score':'home_gf'}) )

# Add home GA
teams_performance = (
    teams_performance
    .merge(home_ga, left_on='team', right_on='home_team', how='left')
    .fillna(0)
    .drop('home_team', axis=1)
    .rename(columns= {'away_score':'home_ga'}) )

# Add Away GF
teams_performance = (
    teams_performance
    .merge(away_gf, left_on='team', right_on='away_team', how='left')
    .fillna(0)
    .drop('away_team', axis=1)
    .rename(columns= {'away_score':'away_gf'}) )

# Add Away GA
teams_performance = (
    teams_performance
    .merge(away_ga, left_on='team', right_on='away_team', how='left')
    .fillna(0)
    .drop('away_team', axis=1)
    .rename(columns= {'home_score':'away_ga'}) )

# Add Overal performance = [Home Wins + Away Wins]/[Games Played]
teams_performance['performance'] = (
    teams_performance['home_wins'].add(teams_performance['away_wins']).div(teams_performance['games']))

# Teams Performance Dataset
teams_performance.sort_values(by='performance', ascending=False).head()

,team,games,home_wins,away_wins,home_losses,away_losses,home_gf,home_ga,away_gf,away_ga,performance
32,Venezuela,1,1.0,0.0,0.0,0.0,4,1,0.0,0.0,1.000000
6,United States,254,145.0,53.0,7.0,11.0,508,99,144.0,60.0,0.779528
8,Germany,133,54.0,30.0,17.0,13.0,186,61,105.0,42.0,0.631579
13,France,102,32.0,20.0,11.0,18.0,90,51,74.0,63.0,0.509804
5,Brazil,108,40.0,15.0,12.0,20.0,138,58,56.0,59.0,0.509259

In [171]:
teams_performance

,team,games,home_wins,away_wins,home_losses,away_losses,home_gf,home_ga,away_gf,away_ga,performance
0,Norway,111,20.0,19.0,17.0,36.0,68,62,68.0,108.0,0.351351
1,China PR,143,28.0,12.0,31.0,37.0,94,91,47.0,95.0,0.279720
2,Switzerland,55,5.0,4.0,10.0,23.0,24,39,32.0,84.0,0.163636
3,Canada,126,31.0,26.0,15.0,36.0,84,51,81.0,96.0,0.452381
4,Argentina,38,3.0,3.0,7.0,22.0,14,23,10.0,90.0,0.157895
5,Brazil,108,40.0,15.0,12.0,20.0,138,58,56.0,59.0,0.509259
6,United States,254,145.0,53.0,7.0,11.0,508,99,144.0,60.0,0.779528
7,Sweden,132,32.0,21.0,27.0,21.0,104,96,69.0,66.0,0.401515
8,Germany,133,54.0,30.0,17.0,13.0,186,61,105.0,42.0,0.631579
9,Denmark,105,16.0,24.0,20.0,27.0,45,49,80.0,94.0,0.380952
10,Spain,52,14.0,10.0,6.0,15.0,46,20,38.0,38.0,0.461538
11,Italy,82,13.0,18.0,17.0,26.0,40,50,65.0,90.0,0.378049
12,Portugal,59,7.0,2.0,27.0,12.0,32,86,9.0,49.0,0.152542
13,France,102,32.0,20.0,11.0,18.0,90,51,74.0,63.0,0.509804
14,Japan,108,24.0,25.0,17.0,25.0,78,63,83.0,80.0,0.453704
15,England,93,28.0,16.0,14.0,14.0,88,53,50.0,42.0,0.473118
16,Vietnam,23,1.0,0.0,10.0,12.0,7,39,2.0,47.0,0.043478
17,Australia,83,18.0,19.0,11.0,18.0,63,43,74.0,63.0,0.445783
18,Nigeria,37,8.0,5.0,9.0,11.0,18,15,19.0,31.0,0.351351
19,New Zealand,74,6.0,7.0,19.0,29.0,19,50,30.0,89.0,0.175676
20,Netherlands,89,19.0,14.0,13.0,22.0,58,39,61.0,75.0,0.370787
21,South Korea,79,18.0,8.0,12.0,25.0,66,46,40.0,76.0,0.329114
22,Republic of Ireland,41,2.0,3.0,10.0,18.0,8,28,13.0,57.0,0.121951
23,Haiti,14,0.0,0.0,2.0,11.0,2,8,3.0,45.0,0.000000
24,Costa Rica,32,5.0,1.0,5.0,18.0,15,14,8.0,82.0,0.187500
25,Colombia,29,4.0,2.0,5.0,15.0,9,11,6.0,53.0,0.206897
26,Zambia,12,0.0,2.0,3.0,5.0,1,11,13.0,25.0,0.166667
27,South Africa,37,1.0,7.0,6.0,18.0,5,19,20.0,43.0,0.216216
28,Philippines,7,0.0,1.0,3.0,3.0,0,12,3.0,13.0,0.142857
29,Panama,15,1.0,0.0,3.0,8.0,6,14,1.0,37.0,0.066667
30,Jamaica,18,3.0,2.0,3.0,8.0,8,14,9.0,30.0,0.277778
31,Morocco,4,0.0,0.0,1.0,0.0,2,3,0.0,0.0,0.000000
32,Venezuela,1,1.0,0.0,0.0,0.0,4,1,0.0,0.0,1.000000

In [172]:
df

           date    home_team     away_team  home_score  away_score  result
0    2003-09-24       Norway        Brazil           1           4      -1
1    2003-09-25     China PR     Australia           1           1       0
2    2003-09-27  Switzerland         Italy           0           1      -1
3    2003-09-27       Canada         Japan           3           1       1
4    2003-09-27    Argentina       Germany           1           6      -1
...         ...          ...           ...         ...         ...     ...
1145 2023-07-07      Germany        Zambia           2           3      -1
1146 2023-07-13      Vietnam         Spain           0           9      -1
1147 2023-07-14    Australia        France           1           0       1
1148 2023-07-14   Costa Rica  South Africa           0           2      -1
1149 2023-07-14  New Zealand         Italy           0           1      -1

[1150 rows x 6 columns]

In [173]:
df['year'] = df['date'].dt.year

In [174]:
df

,date,home_team,away_team,home_score,away_score,result,year
0,2003-09-24,Norway,Brazil,1,4,-1,2003
1,2003-09-25,China PR,Australia,1,1,0,2003
2,2003-09-27,Switzerland,Italy,0,1,-1,2003
3,2003-09-27,Canada,Japan,3,1,1,2003
4,2003-09-27,Argentina,Germany,1,6,-1,2003
...,...,...,...,...,...,...,...
1145,2023-07-07,Germany,Zambia,2,3,-1,2023
1146,2023-07-13,Vietnam,Spain,0,9,-1,2023
1147,2023-07-14,Australia,France,1,0,1,2023
1148,2023-07-14,Costa Rica,South Africa,0,2,-1,2023
1149,2023-07-14,New Zealand,Italy,0,1,-1,2023

In [175]:
test_index = df.query('year == 2015').index.min()

In [176]:
test_index

316

In [177]:
df_input = df[['home_team', 'away_team', 'result', 'home_score', 'away_score']]
df_input = (
    df_input
    .merge(teams_performance, left_on= 'home_team', right_on='team', how='left').fillna(0)
    .merge(teams_performance, left_on= 'away_team', right_on='team', suffixes=['_home','_away'], how='left').fillna(0) )
df_input.drop(['team_home', 'team_away'], axis=1, inplace=True)

In [178]:
train = df_input.iloc[:test_index,:]
test = df_input.iloc[test_index:,:]

In [179]:
# Categorical Features
"CatBoost needs to know which features are categorical"
cat_features = df_input.select_dtypes(include='object').columns.values
#cat_features = [df_input.columns.get_loc(c) for c in cat_features]

X = train.drop(['home_score','away_score','result'], axis=1)
y = train.result
Xt = test.drop(['home_score','away_score','result'], axis=1)
yt = test.result

In [180]:
X.columns

Index(['home_team', 'away_team', 'games_home', 'home_wins_home',
       'away_wins_home', 'home_losses_home', 'away_losses_home',
       'home_gf_home', 'home_ga_home', 'away_gf_home', 'away_ga_home',
       'performance_home', 'games_away', 'home_wins_away', 'away_wins_away',
       'home_losses_away', 'away_losses_away', 'home_gf_away', 'home_ga_away',
       'away_gf_away', 'away_ga_away', 'performance_away'],
      dtype='object')

In [181]:
# Catboost
model = CatBoostClassifier(iterations=10000, learning_rate=0.55)
model.fit(X, y, cat_features= cat_features, verbose=2000)

0:	learn: 0.9576912	total: 5.58ms	remaining: 55.7s
2000:	learn: 0.0034394	total: 16.9s	remaining: 1m 7s
4000:	learn: 0.0016427	total: 25.6s	remaining: 38.4s
6000:	learn: 0.0010809	total: 35.5s	remaining: 23.7s
8000:	learn: 0.0008017	total: 44.9s	remaining: 11.2s
9999:	learn: 0.0006376	total: 53.2s	remaining: 0us

In [182]:
pred_train = model.predict(X)
pred_test = model.predict(Xt)
# Test Score
f1_score(yt, pred_test, average=None)

array([0.52822581, 0.10416667, 0.69591837])

In [183]:
# Confusion Matrix Training
pd.DataFrame(confusion_matrix(y_true=y, y_pred=pred_train),
             index=['away', 'draw', 'home'],
             columns=['away', 'draw', 'home'])

      away  draw  home
away    53     7    44
draw    12    22    26
home    12     4   136

In [184]:
# Confusion Matrix Test
pd.DataFrame(confusion_matrix(y_true=yt, y_pred=pred_test),
             index=['away', 'draw', 'home'],
             columns=['away', 'draw', 'home'])

      away  draw  home
away   131    16   119
draw    38    10    93
home    61    25   341

In [ ]:
model.save_model(product['model'])
teams_performance.to_parquet(product['teams_performance'])